<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Course Advisor</title>

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>

<body>


  <div class="ui tiny attached menu">
    <a class="active item">
        <i class="home icon"></i>
        Home
      </a>
    <a class="item">
        <i class="coffee icon"></i>
        Feedback
      </a>
    <a class="item">
          <i class="envelope icon"></i>
        Contact Us
      </a>
    <a class="item">
    <i class="facebook large icon"></i>
        Facebook Page</a>
    <a class="item">
      <i class="facebook messenger large icon"></i>
          Message  24/7 </a>
    <div class="right menu">
      <div class="item">
        <a href="/api/logout" class="ui primary button">Logout</a>
      </div>
    </div>
  </div>



  <div class="ui raised very padded text container segment">
    <h2 class="ui header">College Advisor</h2>
    <h2 class="ui header blue"><u> Computer Science Major </u> </h2>

    <form method="post">
      <table class="ui fixed single line celled table">
        <thead>
          <tr class="center aligned">
            <th>Check</th>
            <th>Course Name</th>
            <th>Credits</th>
          </tr>
        </thead>
        <tbody>
          <tr class="center aligned">
            <td>
              <div class="ui center checkbox">
                <input type="checkbox" name="course" value="COSC236">
                <label></label>
              </div>
            </td>
            <td>COSC236</td>
            <td>4</td>
          </tr>
          <tr class="center aligned">
            <td>
              <div class="ui center checkbox">
                <input type="checkbox" name="course" value="COSC237">
                <label></label>
              </div>
            </td>
            <td>COSC237</td>
            <td>4</td>
          </tr>
          <tr class="center aligned">
            <td>
              <div class="ui center checkbox">
                <input type="checkbox" name="course" value="COSC336">
                <label></label>
              </div>
            </td>
            <td>COSC336</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>










  <script src="semantic/dist/semantic.min.js"></script>
</body>

</html>
