<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Course Advisor</title>

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>

<body>


  <div class="ui tiny attached menu">
    <div class="header item">
  WOWZA Advisor
</div>
    <a class="active item">
        <i class="home icon"></i>
        Home
      </a>
    <a href="/feedback" class="item">
        <i class="coffee icon"></i>
        Feedback
      </a>
    <a href="/contact" class="item">
          <i class="envelope icon"></i>
        Contact Us
      </a>
    <a href="https://www.facebook.com/collegeadvisorproject" target="_blank" class="item">
    <i class="facebook large icon"></i>
        Facebook Page</a>

    <div class="right menu">
      <div class="item">
        <a href="/api/logout" class="ui primary button">Logout</a>
      </div>
    </div>
  </div>



  <div class="ui raised very padded text container segment">
    <h2 class="ui header">College Advisor</h2>
    <div class="ui center aligned">
    <button id="centerButton" type="button" class="ui primary center button" onclick="window.location.reload()">
  Restart
</button>
</div>
    <h2 class="ui header blue"><u> Computer Science Major </u> </h2>


    <form id="dashForm">
      <div class="scroll">
        <table class="ui fixed single line celled table">
          <thead>
            <tr class="center aligned">
              <th>Taken?</th>
              <th>Course Name</th>
              <th>Credits</th>
            </tr>
          </thead>
          <tbody>
            <tr id="row0" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC236" id="course0">
                  <label></label>
                </div>
              </td>
              <td>COSC236</td>
              <td>4</td>
            </tr>
            <tr id="row1" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC237" id="course1">
                  <label></label>
                </div>
              </td>
              <td>COSC237</td>
              <td>4</td>
            </tr>
            <tr id="row2" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC290" id="course2">
                  <label></label>
                </div>
              </td>
              <td>COSC290</td>
              <td>4</td>
            </tr>
            <tr id="row3" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC336" id="course3">
                  <label></label>
                </div>
              </td>
              <td>COSC336</td>
              <td>4</td>
            </tr>
            <tr id="row4" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC350" id="course4">
                  <label></label>
                </div>
              </td>
              <td>COSC350</td>
              <td>3</td>
            </tr>
            <tr id="row5" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC412" id="course5">
                  <label></label>
                </div>
              </td>
              <td>COSC412</td>
              <td>3</td>
            </tr>
            <tr id="row6" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC439" id="course6">
                  <label></label>
                </div>
              </td>
              <td>COSC439</td>
              <td>3</td>
            </tr>
            <tr id="row7" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC455" id="course7">
                  <label></label>
                </div>
              </td>
              <td>COSC455</td>
              <td>3</td>
            </tr>
            <tr id="row8" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC457" id="course8">
                  <label></label>
                </div>
              </td>
              <td>COSC457</td>
              <td>3</td>
            </tr>
            <thead>
              <tr class="center aligned">
                <th colspan="3" class="center aligned">Required Math Courses</th>
              </tr>
            </thead>
            <tr id="row9" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH263" id="course9">
                  <label></label>
                </div>
              </td>
              <td>MATH263</td>
              <td>3</td>
            </tr>
            <tr id="row100" class="center aligned">
              <td>
                <label>OR</label>
              </td>
              <td>MATH267</td>
              <td>3</td>
            </tr>
            <tr id="row10" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH273" id="course10">
                  <label></label>
                </div>
              </td>
              <td>MATH273</td>
              <td>4</td>
            </tr>
            <tr id="row11" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH274" id="course11">
                  <label></label>
                </div>
              </td>
              <td>MATH274</td>
              <td>4</td>
            </tr>
            <tr id="row12" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH330" id="course12">
                  <label></label>
                </div>
              </td>
              <td>MATH330</td>
              <td>4</td>
            </tr>
            <thead>
              <tr rowclass="center aligned">
                <th colspan="3" class="center aligned">Elective Math & Science <br /> <span class="center aligned pfont">Select two math courses  OR one math course and one science course</span></th>
              </tr>
            </thead>
            <tr id="row13" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH265" id="course13">
                  <label></label>
                </div>
              </td>
              <td>MATH265</td>
              <td>4</td>
            </tr>
            <tr id="row14" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH275" id="course14">
                  <label></label>
                </div>
              </td>
              <td>MATH275</td>
              <td>4</td>
            </tr>
            <tr id="row15" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH314" id="course15">
                  <label></label>
                </div>
              </td>
              <td>MATH314</td>
              <td>3</td>
            </tr>
            <tr id="row16" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH369" id="course16">
                  <label></label>
                </div>
              </td>
              <td>MATH369</td>
              <td>4</td>
            </tr>
            <tr id="row17" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH374" id="course17">
                  <label></label>
                </div>
              </td>
              <td>MATH374</td>
              <td>3</td>
            </tr>
            <tr id="row18" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH377" id="course18">
                  <label></label>
                </div>
              </td>
              <td>MATH377</td>
              <td>3</td>
            </tr>
            <tr id="row19" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH378" id="course19">
                  <label></label>
                </div>
              </td>
              <td>MATH378</td>
              <td>3</td>
            </tr>
            <tr id="row20" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH435" id="course20">
                  <label></label>
                </div>
              </td>
              <td>MATH435</td>
              <td>3</td>
            </tr>
            <tr id="row21" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH437" id="course21">
                  <label></label>
                </div>
              </td>
              <td>MATH437</td>
              <td>3</td>
            </tr>
            <tr id="row22" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="MATH451" id="course22">
                  <label></label>
                </div>
              </td>
              <td>MATH451</td>
              <td>3</td>
            </tr>
            <tr id="row23">
              <td colspan="3" class="center aligned">
                <div class="ui center checkbox largeText">
                  <input type="checkbox" name="course" value="COMM131" id="course23">
                  <label class="large">Science 1</label>
                </div>
              </td>
            </tr>
            <thead>
              <tr rowclass="center aligned">
                <th colspan="3" class="center aligned">Elective Computer Science Courses <br /> <span class="center aligned pfont">Select TWO Of The Following</span></th>
              </tr>
            </thead>
            <tr id="row24" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC417" id="course24">
                  <label></label>
                </div>
              </td>
              <td>COSC417</td>
              <td>3</td>
            </tr>
            <tr id="row25" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC432" id="course25">
                  <label></label>
                </div>
              </td>
              <td>COSC432</td>
              <td>3</td>
            </tr>
            <tr id="row26" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC436" id="course26">
                  <label></label>
                </div>
              </td>
              <td>COSC436</td>
              <td>3</td>
            </tr>
            <tr id="row27" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC459" id="course27">
                  <label></label>
                </div>
              </td>
              <td>COSC459</td>
              <td>3</td>
            </tr>
            <tr id="row28" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC461" id="course28">
                  <label></label>
                </div>
              </td>
              <td>COSC461</td>
              <td>3</td>
            </tr>
            <tr id="row29" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC471" id="course29">
                  <label></label>
                </div>
              </td>
              <td>COSC471</td>
              <td>3</td>
            </tr>
            <tr id="row30" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC483" id="course30">
                  <label></label>
                </div>
              </td>
              <td>COSC483</td>
              <td>3</td>
            </tr>
            <thead>
              <tr rowclass="center aligned">
                <th colspan="3" class="center aligned"><span class="center aligned pfont">Select TWO Of The Following</span></th>
              </tr>
            </thead>
            <tr id="row31" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC397" id="course31">
                  <label></label>
                </div>
              </td>
              <td>COSC397</td>
              <td>3</td>
            </tr>
            <tr id="row32" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC431" id="course32">
                  <label></label>
                </div>
              </td>
              <td>COSC431</td>
              <td>3</td>
            </tr>
            <tr id="row33" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC440" id="course33">
                  <label></label>
                </div>
              </td>
              <td>COSC440</td>
              <td>3</td>
            </tr>
            <tr id="row34" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC442" id="course34">
                  <label></label>
                </div>
              </td>
              <td>COSC442</td>
              <td>3</td>
            </tr>
            <tr id="row35" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC450" id="course35">
                  <label></label>
                </div>
              </td>
              <td>COSC450</td>
              <td>3</td>
            </tr>
            <tr id="row36" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC458" id="course36">
                  <label></label>
                </div>
              </td>
              <td>COSC458</td>
              <td>3</td>
            </tr>
            <tr id="row37" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC465" id="course37">
                  <label></label>
                </div>
              </td>
              <td>COSC465</td>
              <td>3</td>
            </tr>
            <tr id="row38" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC484" id="course38">
                  <label></label>
                </div>
              </td>
              <td>COSC484</td>
              <td>3</td>
            </tr>
            <tr id="row39" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC490" id="course39">
                  <label></label>
                </div>
              </td>
              <td>COSC490</td>
              <td>3</td>
            </tr>
            <tr id="row40" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC495" id="course40">
                  <label></label>
                </div>
              </td>
              <td>COSC495</td>
              <td>3</td>
            </tr>
            <thead>
              <tr rowclass="center aligned">
                <th colspan="3" class="center aligned">Science Requirement<br /> <span class="center aligned pfont">MUST COMPLETE 2 </span></th>
              </tr>
            </thead>
            <tr id="row41">
              <td colspan="3" class="center aligned">
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COMM131" id="course41">
                  <label>Science 1 </label>
                </div>

              </td>
            </tr>
            <tr id="row42">
              <td colspan="3" class="center aligned">
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COMM131" id="course42">
                  <label>Science 2 </label>
                </div>
              </td>
            </tr>
            <thead>
              <tr rowclass="center aligned">
                <th colspan="3" class="center aligned">Other Requirements</th>
              </tr>
            </thead>
            <tr id="row43" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COMM131" id="course43">
                  <label></label>
                </div>
              </td>
              <td>COMM131</td>
              <td>3</td>
            </tr>
            <tr id="row44" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="COSC418" id="course44">
                  <label></label>
                </div>
              </td>
              <td>COSC418</td>
              <td>3</td>
            </tr>

            <tr id="row45" class="center aligned">
              <td>
                <div class="ui center checkbox">
                  <input type="checkbox" name="course" value="ENGL317" id="course45">
                  <label></label>
                </div>
              </td>
              <td>ENGL317</td>
              <td>3</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="center">
        <div class="ui buttons">
          <button type="button" disabled class="ui button">Save</button>
          <div class="or"></div>
          <button type="button" onclick="dashData()" class="ui blue button">Submit</button>
        </div>
      </div>
    </form>
    <script type="text/javascript">
      var dashData = function() {
        var credits = [4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3];
        console.log(credits.length); //check
        var creditCount = 0;

        for (var i = 0; i < 46; i++) {

          var id = "course" + i;
          var rowid = "row" + i;

          if (document.getElementById(id).checked) {
            creditCount = creditCount + credits[i];

            document.getElementById(rowid).remove();
          }
          if (rowid === "row9") {
            document.getElementById("row100").remove();
          }
        }
        // Core 5 and 7 and 8 and 9 and 14
        // 3, 3, 3,  21
        console.log(creditCount);

        creditCount = creditCount + 21;

        console.log(120 - creditCount + " Credits Remaining");
        creditsLeft = 120 - creditCount;
        var outRemainingCredit = creditsLeft;
        var remainingCount = 0;

        while (creditsLeft % 15 != 0) {
          creditsLeft--;
          console.log(creditsLeft);
          remainingCount++;
        }

        var tuitionCost = 5000;
        var tuitionStart = 5000;
        var semesterCount = 0;

        for (var i = 0; i < creditsLeft / 15; i++) {
          tuitionCost = (tuitionCost * .05) + (tuitionStart * (i + 1));
          console.log(tuitionCost); //250
          semesterCount++;
        }

        remainingCount = remainingCount * 300;
        tuitionCost = tuitionCost + remainingCount;
        document.getElementById('tuition').innerHTML ="Tuition Cost For " + semesterCount + " 1/2 " + " semesters is $" + tuitionCost.toFixed(2) +"<br>" + "<p>" + "(Based on 15 Credit Semesters)" + "</p>";
        document.getElementById('creditsLeft').innerHTML ="Credits Remaining: " + outRemainingCredit;
        console.log("Tuition Cost " + semesterCount + " 1/2 " + " semesters is " + tuitionCost.toFixed(2)); //test in console for correct output
      }
    </script>

    <div class="ui segment">
 <h3 id="tuition"></h3>
 <h3 id="creditsLeft"></h3>
</div>
  </div>
  <div class="ui blue inverted very padded segment">
    <div class="containerLogo">

      <p><i class="fas fa-graduation-cap fa-3x"></i></p>

      <p>MAKING ADVISING EASY FOR STUDENTS </p>

      <div class="containerLogo">
        <a href="https://www.facebook.com/collegeadvisorproject" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
        <a href="https://plus.google.com/114965583372651654240" target="_blank"><i class="fab fa-google fa-3x"></i></a>
        <a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter fa-3x"></i></a>
      </div>
    </div>
    <p>&copy; 2018 Team Fabulous</p>

  </div>








  <script src="semantic/dist/semantic.min.js"></script>
</body>

</html>
