<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <style>
        .width {
            width: 70%;
        }
    </style>
    <meta charset="utf-8">
    <title>Course Advisor</title>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>
<body>
<div class="ui tiny attached menu">
    <a href="/" class="active item">
        <i class="home icon"></i>
        Home
    </a>
    <a href="/contact" class="item">
        <i class="envelope icon"></i>
        Contact Us
    </a>
    <a class="item">
        <i class="facebook large icon"></i>
        Facebook Page</a>
    <a class="item">
        <i class="facebook messenger large icon"></i>
        Message 24/7 </a>
    <div class="right menu">
        <div class="item">
            <a href="/api/logout" class="ui primary button">Logout</a>
        </div>

    </div>
</div>


<div class="ui raised very padded text container segment">
    <form class="ui form">
        <div class="ui form">
            <div class="fields">
                <div class="field" id="dis1" onchange="check(id)">
                    <label>First name</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="field" id="dis2">
                    <label>Middle name</label>
                    <input type="text" placeholder="Middle Name">
                </div>
                <div class="field" id="dis3">
                    <label>Last name</label>
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="ui form error" hidden="true" id="error">
            <div class="ui error message" >
                <div class="header">Action Forbidden</div>
                <p>Your name cannot contain any numbers, or be empty!!</p>
            </div>
            <div class="ui submit button">Submit</div>
        </div>
        <script>
            var hasNumber = function(string) {
                return /\d/.test(string);
            }
            var check = (id) => {
                if(document.getElementById(id).value = "" || hasNumber(document.getElementById(id)))
                    document.getElementById("error").hidden = false;
                else
                    document.getElementById("error").hidden = true;
            }
            var anonymous = function(){
                document.getElementById("dis1").hidden = !document.getElementById("dis1").hidden;
                document.getElementById("dis2").hidden = !document.getElementById("dis2").hidden;
                document.getElementById("dis3").hidden = !document.getElementById("dis3").hidden;
            }
        </script>
        <div class="field">
            <div class="ui checkbox" onclick="anonymous()">
                <input type="checkbox" tabindex="0">
                <label>I wish to remain anonymous.</label>
            </div>
        </div>

        <div class="field">
            <label>What did you like most about this website?</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="field">
            <label>What do you think can be improved on this website?</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="field">
            <label>Did you find this website visually appealing?</label>
            <textarea rows="2"></textarea>
        </div>
        <select class="ui search fluid dropdown">
            <option value="">How Likely...? </option>
            <option value="0">Highly unlikely</option>
            <option value="1">Unlikely</option>
            <option value="2">Not sure</option>
            <option value="3">Likely</option>
            <option value="4">Highly likely</option>
        </select>
        <br>
        <button class="ui button" type="submit">Submit</button>
    </form>

</div>
<div class="ui blue inverted very padded segment">
    <div class="containerLogo">

        <p><i class="fas fa-graduation-cap fa-3x"></i></p>

        <p>MAKING ADVISING EASY FOR STUDENTS</p>

        <div class="containerLogo">
          <a href="https://www.facebook.com/collegeadvisorproject" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
          <a href="https://www.towson.edu/academicadvising/" target="_blank"><i class="fab fa-google fa-3x"></i></a>
          <a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter fa-3x"></i></a>
          </div>
    </div>
    <p>&copy; 2018 Team Fabulous</p>

</div>

<script src="semantic/dist/semantic.min.js"></script>
</body>
</html>
