<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <style>
        .width {
            width: 70%;
        }
    </style>
    <meta charset="utf-8">
    <title>Course Advisor</title>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>
<body>
<div class="ui tiny attached menu">
  <div class="header item">
WOWZA Advisor
</div>
    <a href="/" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a href="/contact" class="item">
        <i class="envelope icon"></i>
        Contact Us
    </a>
    <a class="item">
        <i class="facebook large icon"></i>
        Facebook Page</a>

    <div class="right menu">
        <div class="item">
            <a href="/api/logout" class="ui primary button">Logout</a>
        </div>

    </div>
</div>


<div class="ui raised very padded text container segment">
    <form method="post" action="feedback" class="ui form">
        <div class="ui form">
            <div class="fields">
                <div class="field" id="dis1">
                    <label>First name</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="field" id="dis2">
                    <label>Middle name</label>
                    <input type="text" placeholder="Middle Name">
                </div>
                <div class="field" id="dis3">
                    <label>Last name</label>
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
        </div>
        <script>
            var anonymous = function(){
                document.getElementById("dis1").hidden = !document.getElementById("dis1").hidden;
                document.getElementById("dis2").hidden = !document.getElementById("dis2").hidden;
                document.getElementById("dis3").hidden = !document.getElementById("dis3").hidden;
            }
        </script>
        <div class="field">
            <div class="ui checkbox" onclick="anonymous()">
                <input type="checkbox" tabindex="0">
                <label>I wish to remain anonymous.</label>
            </div>
        </div>

        <div class="field">
            <label>What did you like most about this website?</label>
            <textarea name="area1" rows="2"></textarea>
        </div>
        <div class="field">
            <label>What do you think can be improved on this website?</label>
            <textarea name="area2" rows="2"></textarea>
        </div>
        <div class="field">
            <label>Did you find this website visually appealing?</label>
            <textarea name="area3" rows="2"></textarea>
        </div>
        <select name="area4" class="ui search fluid dropdown">
            <option value="">How Likely...? </option>
            <option value="Highly Unlikely">Highly unlikely</option>
            <option value="Unlikely">Unlikely</option>
            <option value="Not Sure">Not sure</option>
            <option value="Likely">Likely</option>
            <option value="Highly Likely">Highly likely</option>
        </select>
        <br>
        <div class="ui center aligned">
        <button class="ui blue button" type="submit">Submit</button>
      </div>
    </form>

</div>
<div class="ui blue inverted very padded segment">
    <div class="containerLogo">

        <p><i class="fas fa-graduation-cap fa-3x"></i></p>

        <p>MAKING ADVISING EASY FOR STUDENTS</p>

        <div class="containerLogo">
          <a href="https://www.facebook.com/collegeadvisorproject" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
          <a href="https://plus.google.com/114965583372651654240" target="_blank"><i class="fab fa-google fa-3x"></i></a>
          <a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter fa-3x"></i></a>
          </div>
    </div>
    <p>&copy; 2018 Team Fabulous</p>

</div>

<script src="semantic/dist/semantic.min.js"></script>
</body>
</html>
